<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="es.udc.fic.ipm"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="18"/>
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <application
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher">

        <service android:name=".IPMAccountAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                       android:resource="@xml/authenticator_desc"/>
        </service>

        <activity android:name="IPMAuthenticatorActivity"
                  android:label="@string/authenticator_name">
        </activity>


    </application>
</manifest>
